/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24-Nov-2015, 14:51:34
    Author     : arturpopov
*/

body {
    background-color: #ffff66;
}
.container{
    background-color: #ffffff;
    min-height: 1000px;
}

.margin-bottom{
    margin-bottom: 50px;
    
}

.margin-left{
    margin-left: 20px;
}

.margin-right{
    margin-right: 20px;
}